{erl_opts, [debug_info]}.

{deps,[
       {meck, "", {svn, "http://192.168.12.88:9880/StreamingServer/trunk/qukan4/erl_server/meck", 'HEAD'}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
