{app,[erldis]}.
{erl_opts, [debug_info]}.

{eunit_compile_opts, [{src_dirs, ["test"]}]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{deps_dir, ["deps"]}.
{deps, [
 {gen_server3, "", {svn, "http://192.168.12.88:9880/StreamingServer/trunk/qukan4/erl_server/gen_server3", 'HEAD'}}
]}.
